// @mixin font($font_name, $file_name, $weight, $style) {
//     @font-face { font-family: $font_name; font-display: swap; src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); font-weight: #{$weight}; font-style: #{$style}; }
    
//     }
    
@font-face {
    font-family: "Beer money";
    src: url("../fonts/beer-money12.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf"); 
}

@font-face {
    font-family:'Aclonica';
    src: url('../fonts/Aclonica Regular.woff2') format('woff2'),
		url('../fonts/Aclonica Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}